{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="featers">
    <h1>Фильмы</h1>
    <ul>
        {% for p in films %}
        <li>
<!--            {% autoescape off %}-->
            <h2>{{p.title}}</h2>
<!--            {% endautoescape off %}-->
            <p>{{p.content|linebreaks}}</p>
            <div class="clear"></div>
            <p class="cancel-link"> <a href="{{ p.get_absolute_url }}">Смотреть</a></p>
            <hr>
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}

