{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}

 <div>
        <ul class="categories">
                 {% if request.path == "/"%}
                    <li><a class="selected" href="{% url 'home' %}">
                        <img src="{% static 'main/img/Всё.png' %}" alt="test image">Всё
                    </a></li>
                {% else %}
                    <li><a href="{% url 'home' %}">
                        <img src="{% static 'main/img/Всё.png' %}" alt="test image">Всё</a>
                    </li>
                {% endif %}

            {% for c in cats %}
                {% if c.pk == cat_selected %}
                    <li><a class="selected" href="{{ c.get_absolute_url }}">
                        <img class="cat_img" src="{% static 'main/img/' %}{{c.name}}.png">{{c.name}}
                    </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ c.get_absolute_url }}">
                            <img class="cat_img" src="{% static 'main/img/' %}{{c.name}}.png">{{c.name}}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
<div class="featers">

    <h1>Фильмы</h1>
    <ul>
        {% for p in films %}
        <li>
<!--            {% autoescape off %}-->
            <h2>{{p.title}}</h2>
<!--            {% endautoescape off %}-->
            <p>{{p.content|linebreaks}}</p>
            <div class="clear"></div>
            <p class="cancel-link"> <a href="{{ p.get_absolute_url }}">Смотреть</a></p>
            <hr>
        </li>
        {% endfor %}
    </ul>

</div>
{% endblock %}

