* {
    margin: 0px;
    padding: 0;
    box-sizing: revert;
    font-family: 'Poppins', sans-serif;
}

body {
    max-width: calc(100% - 130px);
    margin-left: 130px;
    background: #1d2024;
    color: blanchedalmond;
    line-height: 1.5;
    font-size: 1rem;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 1px;
    box-sizing: border-box;
    max-width: 1300px;
    margin: 0 auto;
    z-index: 1;
}

.menu {
    display: block;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 130px;
    height: 100vh;
    background-color: #1f2226;
    z-index: 999;
}

.menu img {
    display: block;
    width: 30px;
    margin: 50px auto 0px;
    cursor: pointer;
    transition: filter 0.2s ease;
}

#logout {
    margin: 50vh auto;
}

.menu img:hover {
    filter: brightness(1000%);
}

li {
    list-style-type: none;
}

.logo {
    width: 70px;
}

main .featers {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

main .featers h1{
    font-size: 50px;
    font-weight: 700;
}
